body {
	font-family: 'Libre Baskerville', serif;
	width: 80%;
	margin: auto;
	background-color: #faf8f5;
}

h1 {
	padding-top: 1.5rem;
}

hr {
	opacity: 30%;
}

p {
	text-align: justify;
	line-height: 1.5;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1/2;
	grid-row: 1;
}

.two {
	grid-column: 2/2;
	grid-row: 1;
	margin-top: 4rem;
	margin-left: 80%;
}

a {
	color: darkblue;
}
