h1 {
	font-family: 'Libre Baskerville', serif;
}

p {
	font-family: 'Libre Baskerville', serif;
	margin: auto;
	opacity: 75%;
}

body {
	width: 80%;
	margin: auto;
}

hr {
	opacity: 40%;
}

a {
	text-decoration: none;
	color: black;
}

center {
	margin-bottom: 7%;
}

.logo {
	height: 64px;
	width: 64px;
	border-radius: 30px;
	margin-top: 5%;
}

.card {
	display: inline-block;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 30%;
	position: relative;
  text-align: center;
  color: white;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	filter: grayscale(1);
	transition: 400ms;
}

.card-img {
	width: 100%;
}

.card:hover {
	transform: translateY(-10px);
	filter: grayscale(0);
}

.card-text {
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0%;
	transform: translate(-50%, -50%);
	font-size: 32pt;
	padding: 7rem;
}

.card-text:hover {
	opacity: 100%;
}
