<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body class="container-fluid">
    <hgroup>
    <h1>Logan Jackson</h1>
        <p>B.S. Computer Science @ University of Texas - Dallas</p>
    </hgroup>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="blog.html">Blog</a></li>
        </ul>
    </nav>
    <hr/>
</body>