body {
	width: 80%;
	margin: auto;
	font-family: 'Libre Baskerville', 'serif';
}

footer {
	margin-top: 7%;
	margin-bottom: 2rem;
}

.logo {
	margin-top: 1rem;
	width: 64px;
	height: 64px;
	border-radius: 30px;
}
